# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
/build
next-swc*

# misc
.DS_Store
*.pem
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# swc binaries
**/*.node